body{
    display:flex;
    flex-direction:row;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Open sans';
    color: black;
  }

  #main-doc{
 height: 100vh;
    width:90%
  }
  .nav-link{
    text-decoration:none;
    line-height: 1.5;
    font-family: 'Open sans';
    color: black;
  }
  #ul-navbar{
    list-style-type:none;
  }
  header{
    color: black;
    font-size: 1.8em;
    font-weight: thin;
  }
  #navbar header{
    text-align: center;
  }
  #ul-navbar li{
    border-top: 1px solid black;
    width: 70%;
    padding: 11px 0;
    margin: 0;
      }
      code{
        background-color:lightgrey;
        display: block;
        padding: 15px;
        text-align: left;
    width: 70%;
      }
